@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-secondary text-white;
  }
  .card {
    @apply bg-secondary;
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  label {
    @apply text-xs mb-2;
  }

  input {
    outline: none;
    @apply border border-transparent px-2 py-3 rounded-lg block w-full bg-[#1a1a1a];
  }
}

@layer utilities {
  .container {
    @apply w-[90%] md:w-5/6 lg:w-3/4 xl:w-5/6 mx-auto;
  }

  .btn {
    @apply bg-primary text-white px-4 py-2 rounded-lg;
  }

  label {
    @apply block text-xs my-2;
  }
}
